.navbar {
    background: var(--black-color);
    position: fixed;
    width: 100%;
    box-shadow: 0 5px 100px var(--black-color);
    z-index: 1;
    backdrop-filter: blur(10px);

    .nav-container {
        display: grid;
        grid-template-columns: 25% 75%;
        margin: 0 50px 0 50px;
        padding: 10px 0 10px 0;

        .nav-logo-container {
            display: flex;
            justify-content: center;
        }

        .nav-button-container {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                margin: 0 25px 0 25px;
                font-weight: bolder;
                text-decoration: transparent;
                color: var(--white-color);
                transition: 0.5s;
                font-size: 20px;
            }

            a:hover {
                text-decoration: underline 2px solid var(--yellow-color);
                transform: scale(1.1);
            }
        }
    }
}

.hamburguer-container {
    display: flex;
    align-items: center;
    justify-content: end;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 20px;
    height: 30px;
    cursor: pointer;
}

.hamburger span {
    display: block;
    height: 4px;
    background: var(--yellow-color);
    border-radius: 2px;
    transition: all 0.3s ease;
    width: 30px;
}

.menu-mobile {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.747);
    width: 200px;
    display: flex;
    color: var(--white-color);
    flex-direction: column;
    pointer-events: none;
    text-align: start;
    /* Impede interação enquanto o menu estiver fechado */
}

.menu-mobile.active {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
    /* Permite interação quando o menu estiver aberto */
    box-shadow: -5px 0 20px var(--black-color);

}



.menu-mobile a {
    color: var(--white-color);
    margin: 0 0 20px 20%;
    font-weight: bolder;
    transition: 0.3s;
    cursor: pointer;
}

.menu-mobile a:hover {
    font-size: 20px;
}

.menu-mobile a:last-child {
    border-bottom: none;
}

.menu-bar {
    width: 100%;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
}

.navbar-back {
    background: var(--black-color);
    width: 100%;

    .nav-container {
        display: grid;
        grid-template-columns: 25% 75%;
        margin: 0 50px 0 50px;
        padding: 10px 0 10px 0;

        .nav-logo-container {
            display: flex;
            justify-content: center;
        }
    }
}



/* Estilos base para as divs de texto e imagem */
.text-certificado, .image-certificado {
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}

/* Texto começa levemente deslocado para a esquerda */
.text-certificado {
    transform: translateX(-20px); /* Movimento sutil */
}

/* Imagem começa levemente deslocada para a direita */
.image-certificado {
    transform: translateX(20px); /* Movimento sutil */
}

/* Quando a div estiver visível, aplicar essas classes */
.grid-certificado.visible .text-certificado,
.grid-certificado.visible .image-certificado {
    opacity: 1;
    transform: translateX(0); /* Volta à posição original */
}

.area-certificado {
    background-image: url('../img/SOLUTIONS-cinza.svg');
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;

    .descrition-certificado {
        
        h1 {
            font-size: 50px;
        }
    }
    .title-certificado{
        width: 80%;
        border-bottom: 2px solid var(--yellow-color);
        p{
            font-size: 20px;
            text-align: center;
            margin: 0 0 30px 0;
        }
    }
}

.nav-header {
    padding: 50px;

    .nav-header-container {
        display: flex;

        a {
            margin: 0 5px 0 0;
            transition: 0.5s;
        }

        a:hover {
            transform: scale(1.1);
            color: var(--yellow-color);
        }

        p {
            color: gray;
        }
    }
}
#certificado2{
    background: var(--yellow-color);
    .image-certificado{
        img{
            box-shadow: none;
        }
    }
        .text-certificado{
            .title-text-certificado{
                h2{
                    text-decoration: underline 2px solid var(--black-color);
                }
            }
            color: var(--black-color);
        }
}
.nosso-certificado {
    margin: 50px 0 0 0;

    .grid-certificado {
        padding: 20px;
        display: grid;
        grid-template-columns: 50% 50%;

        .text-certificado {
            padding: 20px;
            margin: 0 10px;
            display: flex;
            flex-direction: column;
            text-align: justify;
            align-items: center;

            .title-text-certificado {
                width: 100%;
                margin: 0 0 15px 0;

                h2 {
                    text-decoration: underline 2px solid var(--yellow-color);
                    font-size: 35px;
                }
            }

            p {
                margin: 0 0 10px 0;
                font-size: 18px;
            }
        }

        .image-certificado {
            padding: 20px;
            margin: 0 10px;
            display: flex;
            justify-content: center;

            img {
                width: 100%;
                box-shadow: 0 5px 20px black;
            }
        }
    }
}






.rodape {
    background: var(--yellow-black);
    padding: 50px;
    display: flex;
    justify-content: center;

    .rodape-container {
        padding: 10px;
        width: 100%;
        display: grid;
        grid-template-columns: 33% 33% 33%;

    }
    #image-rodape{
        width: 100%;
        align-items: center;
    }
    .rodape-content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .titles {
        background: var(--black-color);
        display: flex;
        justify-content: center;
        width: 90%;
        border-radius: 5px;
        padding: 5px;
        label {
            font-weight: bolder;
            font-size: 20px;
            color: var(--yellow-color);
        }
    }

    .content {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 20px 0 0 10px;

        ul {
            padding: 0 0 0 20px;

            li {
                transition: 0.5s;
                width: 90px;
                margin: 5px 0 0 0;
            }

            li:hover {
                transform: scale(1.05);
            }
        }

        #email {
            transform: none;
        }

        a {
            text-decoration: none;
            color: white;
            font-weight: bolder;
            font-size: 17px;
            margin: 5px 0 0 0;
            transition: 0.5s;
            width: 300px;

            i {
                margin: 0 5px 0 0;
            }
        }

        a:hover {
            transform: scale(1.05);
        }
    }
}

.chamada-certificado {
    padding: 20px;

    .text-chamada-certificado {
        text-align: center;
        font-size: 30px;

        p {
            a{
                text-decoration: underline;
                color: var(--gray-color);
                transition: 0.5s;
            }

            a:hover {
                transform: scale(1.1);
                color: var(--yellow-color);
            }
        }
        
    }
}

.rodape-content {
    opacity: 0;
    transform: translateY(50px);
    /* Começa 50px abaixo */
    transition: opacity 1s ease, transform 1s ease;
}

.rodape-content.show {
    opacity: 1;
    transform: translateY(0);
    /* Volta para a posição original */
}
@media(max-width:1000px){
    .nosso-certificado{
        .grid-certificado{
            .image-certificado{
                img{
                    width: 100%;
                    height: 50%;
                }
            }
        }
    }
}
@media(max-width:750px){
    .nosso-certificado{
        .grid-certificado{
            display: flex;
            flex-direction: column;
            .image-certificado{
                img{
                    width: 50%;
                }
            }
        }
        #certificado2{
            flex-direction: column-reverse;
        }
    }
 
}

@media(max-width:550px){
    .area-certificado{
        .descrition-certificado{
            h1{
                font-size: 30px;
            }
        }
    }
    .nosso-certificado{
        .grid-certificado{
            .image-certificado{
                img{
                    width: 80%;
                }
            }
        }
    }
    .chamada-certificado{
        .text-chamada-certificado{
            p{
                font-size: 20px;
            }
        }
    }
}

@media(max-width:400px){
    .nosso-certificado{
        padding: 0;
        .grid-certificado{
            padding: 0;
        }
    }
}