.nav-header {
    padding: 50px;

    .nav-header-container {
        display: flex;

        a {
            margin: 0 5px 0 0;
            transition: 0.5s;
        }

        a:hover {
            transform: scale(1.1);
            color: var(--yellow-color);
        }

        p {
            color: var(--gray-color);
        }
    }
}


.area-contato{
    padding: 10px;
    align-items: center;
    flex-direction: column;
    display: flex;
    .title-contato{
        padding: 10px;
        text-align: center;
        width: 90%;
        h1{
            color: var(--black-color);
            text-decoration: underline 2px  solid var(--yellow-color);
        }
    }
    .descrition-title-contato{
        padding: 10px;
        margin: 10px 0 20px 0;
        border-bottom: 2px solid var(--yellow-color);
        text-align: center;
        width: 90%;
        display: flex;
        justify-content: center;
        p{
            color: var(--balck-color);
            font-size: 20px;
        }
    }
    .contato-container{
        width: 80%;
        padding: 10px;
        margin: 50px 0 0 0;
        display: grid;
        grid-template-columns: 50% 50%;
        .contato-mold{
            margin: 10px;
            padding: 10px;
            .title-mold{
                padding: 10px;
                text-align: center;
                h1{
                    text-decoration: underline 2px var(--yellow-color);
                }
                
            }
            
        }
        .contato-creality{
            margin: 10px;
            padding: 10px;
            .title-creality{
                padding: 10px;
                text-align: center;
                h1{
                    text-decoration: underline 2px var(--yellow-color);
                }
                
            }

        }
        .link-contato{
            padding: 10px;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            a{
                cursor: pointer;
                margin: 10px 0 0 0;
                font-size: 20px;
                color: var(--black-color);
                transition: 0.5s;
                width: 330px;
                text-align: center;
                text-decoration: none;
                i{
                    margin: 0 5px 0 0 ;
                }
            }
            a:hover{
                transform: scale(1.05);
                color: var(--yellow-color);
            }
        }
    }
}
#email{
    color: var(--balck-color);
}
@media(max-width:750px){
    .area-contato{
        .contato-container{
            display: flex;
            flex-direction: column;
        }
    }
}