* {
    margin: 0;
    scroll-behavior: smooth;
}


.empresa-info-container {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.empresa-info-container.show {
    opacity: 1;
    transform: translateY(0);
}

.empresa-image-container {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.empresa-image-container.show {
    opacity: 1;
    transform: translateY(0);
}

@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.text-history {
    opacity: 0;
    transform: translateX(100px); /* Começa 100px à direita */
    transition: opacity 1s ease, transform 1s ease;
}

.text-history.show {
    opacity: 1;
    transform: translateX(0); /* Volta para a posição original */
}

@keyframes slideFromRight {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.ceo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ceo-image {
    opacity: 0;
    transform: translateX(-100px); /* A imagem começa fora da tela à esquerda */
    transition: opacity 1s ease, transform 1s ease;
}

.bio {
    opacity: 0;
    transform: translateX(100px); /* O texto começa fora da tela à direita */
    transition: opacity 1s ease, transform 1s ease;
}

.ceo-image.show {
    opacity: 1;
    transform: translateX(0); /* A imagem se move para sua posição original */
}

.bio.show {
    opacity: 1;
    transform: translateX(0); /* O texto se move para sua posição original */
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromRight {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.rodape-content {
    opacity: 0;
    transform: translateY(50px); /* Começa 50px abaixo */
    transition: opacity 1s ease, transform 1s ease;
}

.rodape-content.show {
    opacity: 1;
    transform: translateY(0); /* Volta para a posição original */
}



.navbar {
    background: rgba(128, 128, 128, 0.833);
    position: fixed;
    width: 100%;
    box-shadow: 0 5px 100px black;
    z-index: 1;
    backdrop-filter: blur(10px);

    .nav-container {
        display: grid;
        grid-template-columns: 25% 75%;
        margin: 0 50px 0 50px;
        padding: 10px 0 10px 0;

        .nav-logo-container {
            display: flex;
            justify-content: center;
        }

        .nav-button-container {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                margin: 0 25px 0 25px;
                font-weight: bolder;
                text-decoration: transparent;
                color: white;
                transition: 0.5s;
                font-size: 20px;
            }

            a:hover {
                text-decoration: underline 2px solid black;
                transform: scale(1.1);
            }
        }
    }
}


.hamburguer-container {
    display: flex;
    align-items: center;
    justify-content: end;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 20px;
    height: 30px;
    cursor: pointer;
}

.hamburger span {
    display: block;
    height: 4px;
    background: black;
    border-radius: 2px;
    transition: all 0.3s ease;
    width: 30px;
}

.menu-mobile {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.747);
    width: 200px;
    display: flex;
    color: white;
    flex-direction: column;
    pointer-events: none;
    text-align: start;
    /* Impede interação enquanto o menu estiver fechado */
}

.menu-mobile.active {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
    /* Permite interação quando o menu estiver aberto */
    box-shadow: -5px 0 20px black;

}



.menu-mobile a {
    color: var(--branco);
    margin: 0 0 20px 20%;
    font-weight: bolder;
    text-decoration: underline 2px var(--azul-claro);
    transition: 0.3s;
    cursor: pointer;
}

.menu-mobile a:hover {
    color: var(--azul-claro);
    font-size: 20px;
}

.menu-mobile a:last-child {
    border-bottom: none;
}

.menu-bar {
    width: 100%;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
}

.navbar-back {
    background: rgb(91, 91, 91);
    width: 100%;

    .nav-container {
        display: grid;
        grid-template-columns: 25% 75%;
        margin: 0 50px 0 50px;
        padding: 10px 0 10px 0;

        .nav-logo-container {
            display: flex;
            justify-content: center;
        }
    }
}

.nav-header {
    padding: 50px;

    .nav-header-container {
        display: flex;

        a {
            margin: 0 5px 0 0;
            transition: 0.5s;
        }

        a:hover {
            transform: scale(1.1);
        }

        p {
            color: gray;
        }
    }
}

.explicacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

    h1 {
        font-size: 40px;
        margin: 0 0 10px 0;
    }

    p {
        font-size: 20px;
    }
}

.empresa-number {
    padding: 20px;

    .container-number {
        padding: 0 20px;

        .title-number {
            display: flex;
            justify-content: center;
            border-bottom: 2px solid gray;
            padding: 0 0 20px 0;

            h2 {
                font-size: 30px;
            }
        }

        .container-especificacao {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            padding: 50px;

            .icons {
                display: flex;
                flex-direction: column;
                align-items: center;

                i {
                    font-size: 30px;
                }

                strong {
                    font-size: 20px;
                }
            }
        }
    }
}

.empresa {
    padding: 50px;
    background: rgb(187, 187, 187);

    .empresa-container {
        padding: 50px;

        .empresa-content {
            padding: 20px;
            display: grid;
            grid-template-columns: 50% 50%;

            .empresa-info-container {
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 90%;

                .title-info {
                    width: 100%;

                    h2 {}
                }

                .folder {
                    width: 100%;

                    h3 {
                        margin: 0 0 10px 0;
                    }
                }

                .descrition {
                    text-align: justify;

                    p {
                        margin: 0 0 10px 0;
                    }
                }
            }

            .empresa-image-container {
                padding: 30px;
                width: 90%;

                .image {
                    img {
                        width: 100%;
                        box-shadow: 0 5px 20px black;
                    }
                }
            }
        }
    }
}

.historia {
    padding: 100px 60px;
    background-image: url('../img/SOLUTIONS-cinza.svg');
    background-repeat: no-repeat;

    .history-container {
        padding: 35px 60px;
        display: grid;
        grid-template-columns: 50% 50%;

        .text-history {
            margin: 10px;
            width: 90%;
            padding: 30px;
            background: rgba(0, 0, 0, 0.562);
            border-radius: 5px;

            .border {
                border-bottom: 2px solid gray;
                border-top: 2px solid gray;
                width: 150px;
                padding: 5px 0 5px 0;
                color: white;
            }

            .descrition-history {
                text-align: justify;

                p {
                    margin: 10px 0 0 0;
                    color: white;
                }
            }
        }
    }
}

.ceo {
    padding: 50px;

    .ceo-container {
        padding: 50px;
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;

        .ceo-image {
            display: flex;
            justify-content: center;
            margin: 10px;

            img {
                width: 90%;
                box-shadow: 0 5px 20px black;
            }
        }

        .bio {
            padding: 30px;
            margin: 10px;
            text-align: justify;

            .title-bio {
                width: 180px;
                border-bottom: 2px solid gray;
                margin-bottom: 20px;
            }

            p {
                margin: 0 0 10px 0;
            }
        }
    }
}


.rodape {
    background: rgb(73, 73, 73);
    padding: 50px;
    display: flex;
    justify-content: center;

    .rodape-container {
        padding: 10px;
        width: 100%;
        display: grid;
        grid-template-columns: 33% 33% 33%;

    }

    .rodape-content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .titles {
        background: gray;
        display: flex;
        justify-content: center;
        width: 90%;
        border-radius: 5px;

        label {
            font-weight: bolder;
            font-size: 20px;
        }
    }

    .content {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 20px 0 0 10px;

        ul {
            padding: 0 0 0 20px;

            li {
                transition: 0.5s;
                width: 90px;
                margin: 5px 0 0 0;
            }

            li:hover {
                transform: scale(1.05);
            }
        }

        #email {
            transform: none;
        }

        a {
            text-decoration: none;
            color: white;
            font-weight: bolder;
            font-size: 18px;
            margin: 5px 0 0 0;
            transition: 0.5s;
            width: 300px;

            i {
                margin: 0 5px 0 0;
            }
        }

        a:hover {
            transform: scale(1.05);
        }
    }
}

@media(max-width:1075px) {
    .empresa {
        .empresa-container {
            .empresa-content {
                display: flex;
                flex-direction: column;

                .empresa-image-container {
                    .image {
                        display: flex;
                        justify-content: center;

                        img {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
    .historia{
        .history-container{
            display: flex;
            .nada{
                display: none;
            }
        }
    }
    .ceo{
        .ceo-container{
            display: flex;
            flex-direction: column;
            .ceo-image{
                img{
                    width: 50%;
                }
            }
        }
    }
}

@media(max-width:930px){
    .explicacao{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .empresa-number{
        .container-number{
            .container-especificacao{
                grid-template-columns: 50% 50%;
                .icons{
                    margin: 0 0 20px 0;
                }
            }
        }
    }
}

@media(max-width:750px){
    .empresa{
        .empresa-container{
            padding: 0px;
            .empresa-content{
                .empresa-image-container{
                    .image{
                        img{
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:550px){
    .empresa-number{
        .container-number{
            .title-number{
                text-align: center;
            }
            .container-especificacao{
                padding: 0;
                display: flex;
                flex-direction: column;
                .icons{
                    font-size: 20px;
                    strong{
                        font-size: 25px;
                    }
                    i{
                        font-size: 50px;
                    }
                }
            }
        }
    }

    .empresa{
        padding: 20px;
        .empresa-container{
            .empresa-content{
                margin: 0;
                padding: 0;
                .empresa-info-container{
                    padding: 0;
                    width: 100%;
                }
                .empresa-image-container{
                    width: 100%;
                    padding: 0;
                   .image{
                    margin: 20px 0 0 0;
                    img{
                        width: 100%;
                    }
                   }
                }
            }
        }
    }
    .historia{
        padding: 0;
        .history-container{
            padding: 0;
            .text-history{

            }
        }
    }
    .ceo{
        padding: 0;
        .ceo-container{
            .bio{
                padding: 0;
                margin: 20px 0 0 0;
            }
            .ceo-image{
                img{
                    width: 100%;
                }
            }
        }
    }
}