* {
    margin: 0;
    scroll-behavior: smooth;
}

.navbar {
    background: rgba(128, 128, 128, 0.833);
    position: fixed;
    width: 100%;
    box-shadow: 0 5px 100px black;
    z-index: 1;
    backdrop-filter: blur(10px);

    .nav-container {
        display: grid;
        grid-template-columns: 25% 75%;
        margin: 0 50px 0 50px;
        padding: 10px 0 10px 0;

        .nav-logo-container {
            display: flex;
            justify-content: center;
        }

        .nav-button-container {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                margin: 0 25px 0 25px;
                font-weight: bolder;
                text-decoration: transparent;
                color: white;
                transition: 0.5s;
                font-size: 20px;
            }

            a:hover {
                text-decoration: underline 2px solid black;
                transform: scale(1.1);
            }
        }
    }
}
.hamburguer-container{
    display: flex;
    align-items: center;
    justify-content: end;
}
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 20px;
    height: 30px;
    cursor: pointer;
}

.hamburger span {
    display: block;
    height: 4px;
    background: black;
    border-radius: 2px;
    transition: all 0.3s ease;
    width: 30px;
}

.menu-mobile {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.747);
    width: 200px;
    display: flex;
    color: white;
    flex-direction: column;
    pointer-events: none;
    text-align: start;
    /* Impede interação enquanto o menu estiver fechado */
}

.menu-mobile.active {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
    /* Permite interação quando o menu estiver aberto */
    box-shadow: -5px 0 20px black;

}



.menu-mobile a {
    color: var(--branco);
    margin: 0 0 20px 20%;
    font-weight: bolder;
    text-decoration: underline 2px var(--azul-claro);
    transition: 0.3s;
    cursor: pointer;
}

.menu-mobile a:hover {
    color: var(--azul-claro);
    font-size: 20px;
}

.menu-mobile a:last-child {
    border-bottom: none;
}

.menu-bar {
    width: 100%;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
}
.navbar-back {
    background: rgb(91, 91, 91);
    width: 100%;

    .nav-container {
        display: grid;
        grid-template-columns: 25% 75%;
        margin: 0 50px 0 50px;
        padding: 10px 0 10px 0;

        .nav-logo-container {
            display: flex;
            justify-content: center;
        }
    }
}


#inicio {
    scroll-margin-top: 120px;
}

.inicio {
    background: rgb(91, 91, 91);

    .slider {
        width: 100%;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
    }

    .slides {
        display: flex;
        transition: transform 0.5s ease-in-out;
        text-align: center;
    }

    .slide {
        min-width: 100%;
        /* Garante que cada slide ocupe toda a largura do contêiner */
        text-align: center;

        .chamada-container {
            display: flex;
            justify-content: center;

            .chamada-button {
                background: rgb(62, 62, 62);
                width: 200px;
                cursor: pointer;
                padding: 10px 0 10px 0;
                border-radius: 5px;
                transition: 0.5s;
                margin: 0 0 20px 0;

                a {
                    color: white;
                    font-weight: bolder;
                    text-decoration: none;
                }
            }

            .chamada-button:hover {
                transform: scale(1.1);
                background: black;
                box-shadow: 0 5px 20px black;
            }
        }
    }

    .slider img {
        width: 100%;
        /* Garante que a imagem ocupe toda a largura do slide */
        display: block;
    }

    .controls {
        position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transform: translateY(-50%);
    }

    .prev,
    .next {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px;
        cursor: pointer;
        font-size: 20px;
    }
}

#empresa {
    scroll-margin-top: 105px;
}

.empresa {
    background: grey;
    z-index: -1;

    .empresa-container {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 100px 100px 100px 100px;

        .descricao-container {
            text-align: justify;

            .fundation-date {
                border-bottom: 1px solid black;
                width: 155px;
                margin: 0 0 20px 0;
            }

            .name-corporation {
                width: 380px;
                font-size: 20px;
                line-height: 0.9;
                margin: 0 0 20px 0;
            }

            .descrition-corporation {
                font-weight: bold;
                font-size: 17px;
                color: rgb(36, 36, 36);
                width: 400px;
            }
        }

        .image-info-corporation {
            display: flex;
            justify-content: center;

            img {
                box-shadow: 0 10px 50px black;
                border-radius: 5px;
            }
        }

    }

}

#some-products {
    scroll-margin-top: 105px;
}

.some-products {
    background: rgb(91, 91, 91);
    z-index: 10;
    padding: 42px 0 10px 0;
    box-shadow: 0 5px 50px black;
    text-align: center;
    .title-some-product{
        width: 100%;
        text-align: center;
    }
    h1 {
        margin: 0 0 10px 0;
    }

    .slider {
        width: 80%;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
    }

    .slides {
        display: flex;
        transition: transform 0.5s ease-in-out;
        text-align: center;
    }
    .slide-cell{
        display: none;
        min-width: 100%;
        /* Garante que cada slide ocupe toda a largura do contêiner */
        text-align: center;
        display: flex;
        justify-content: center;
        margin: 20px 0;

        a {
            width: 250px;
            margin: 10px 10px 10px 10px;
            background: gray;
            padding: 10px;
            text-decoration: none;
            border-radius: 10px;
            transition: 0.5s;

            img {
                border-radius: 5px;
            }

            .label {
                color: white;
                font-weight: bolder;
                margin-top: 10px;

                label {
                    cursor: pointer;
                }
            }
        }

        a:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 20px black;
        }
    }
    .slide {
        min-width: 100%;
        /* Garante que cada slide ocupe toda a largura do contêiner */
        text-align: center;
        display: flex;
        justify-content: center;
        margin: 20px 0;

        a {
            width: 250px;
            margin: 10px 10px 10px 10px;
            background: grey;
            padding: 10px;
            text-decoration: none;
            border-radius: 10px;
            transition: 0.5s;

            img {
                border-radius: 5px;
            }

            .label {
                color: white;
                font-weight: bolder;
                margin-top: 10px;

                label {
                    cursor: pointer;
                }
            }
        }

        a:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 20px black;
        }
    }

    .slider img {
        width: 100%;
        /* Garante que a imagem ocupe toda a largura do slide */
        display: block;
    }

    .controls {
        display: flex;
        justify-content: center;
        margin: 10px 0 20px 0;
    }

    .prev {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px;
        cursor: pointer;
        font-size: 20px;
        margin: 0 5px 0 5px;
        transition: 0.5s;
        border: none;
        border-radius: 5px;
    }

    .next {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px;
        cursor: pointer;
        font-size: 20px;
        margin: 0 5px 0 5px;
        transition: 0.5s;
        border: none;
        border-radius: 5px;
    }

    .more-products {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        cursor: pointer;
        font-size: 20px;
        transition: 0.5s;
        border: none;
        display: flex;
        align-items: center;
        padding: 0 10px 0 10px;
        border-radius: 5px;
    }

    .more-products:hover {
        transform: scale(1.1);
        box-shadow: 0 5px 10px black;
    }

    .prev:hover {
        transform: scale(1.1);
        box-shadow: 0 5px 10px black;
    }

    .next:hover {
        transform: scale(1.1);
        box-shadow: 0 5px 10px black;
    }
}

#valores {
    scroll-margin-top: 120px;
}

.valores {
    background: white;
    padding: 80px;

    .valores-container {
        background: rgb(190, 190, 190);
        box-shadow: 0 5px 20px black;

        border-radius: 5px;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;

        .content {
            display: flex;
            padding: 20px;
            flex-direction: column;
            align-items: center;
            text-align: justify;

            label {
                margin: 10px 0 10px 0;
            }

            i {
                font-size: 50px;
            }

            a {
                text-decoration: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: justify;
                color: rgb(77, 77, 77);
                transition: 0.5s;

                label {
                    cursor: pointer;
                }
            }

            a:hover {
                transform: scale(1.05);
                text-shadow: 0 5px 20px black;
            }
        }
    }
}


.rodape{
    background: rgb(73, 73, 73);
    padding: 50px;
    display: flex;
    justify-content: center;
    .rodape-container{
        padding: 10px;
        width: 100%;
        display: grid;
        grid-template-columns: 33% 33% 33%;

    }
    .rodape-content{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .titles{
        background: gray;
        display: flex;
        justify-content: center;
        width: 90%;
        border-radius: 5px;
        label{
            font-weight: bolder;
            font-size: 20px;
        }
    }
    .content{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 20px 0 0 10px;
        ul{
            padding: 0 0 0 20px;
            li{
                transition: 0.5s;
                width: 90px;
                margin: 5px 0 0 0;
            }
            li:hover{
                transform: scale(1.05);
            }
        }
        a{
            text-decoration: none;
            color: white;
            font-weight: bolder;
            font-size: 18px;
            margin: 5px 0 0 0;
            transition: 0.5s;
            width: 300px;
            i{
                margin: 0 5px 0 0;
            }
        }
        a:hover{
            transform: scale(1.05);
        }
    }
}

@media (max-width:1100px){
    #empresa{
        scroll-margin-top: 80px;
    }
    #some-products{
        scroll-margin-top: 80px;
    }
    #valores{
        scroll-margin-top: 80px;
    }
    .empresa{
        .empresa-container{
            display: flex;
            flex-direction: column;
            .descricao-container{
                .fundation-date{
                    width: 100%;
                }
                .name-corporation{
                    width: 100%;
                }
                .descrition-corporation{
                    width: 100%;
                }
            }
            .image-info-corporation{
                margin: 40px 0 0 0;
            }
        }
    }
    .valores{
        .valores-container{
            grid-template-columns: 50% 50%;
        }
    }

}
@media (max-width:1075px){
    #empresa{
        scroll-margin-top: 80px;
    }
    #some-products{
        scroll-margin-top: 80px;
    }
    #valores{
        scroll-margin-top: 80px;
    }
    #contato{
        scroll-margin-top: 80px;
    }
    .navbar{
        .nav-container{
            .nav-button-container{
                a{
                    font-size: 15px;
                }
            }
        }
    }
    .rodape{
        .rodape-container{
            grid-template-columns: 50% 50%;
            .rodape-content{
                margin: 30px 0 0 0 ;
            }
        }
    }
}

@media(max-width: 930px){
    .some-products{
        .slider{
            .slide{
                display: none;
            }
            .slide-cell{
                display: flex;
            }
        }
    }
    .navbar-back{
        .nav-container{
            .nav-logo-container{
                img{
                    width: 150%;
                }
            }
            
        }
    }
 .navbar{
    
    .nav-container{
        .nav-logo-container{
            img{
                width: 150%;
            }
        }
        .nav-button-container{
            display: none;
        }
    }
    .hamburger {
        display: flex;

    }
 }
}

@media (max-width:750px){

.rodape{
    .rodape-container{
        grid-template-columns: 100%;
    }
}
}

@media(max-width:550px){
    #empresa{
        scroll-margin-top: 50px;
    }
    #some-products{
        scroll-margin-top: 50px;
    }
    #valores{
        scroll-margin-top: 50px;
    }
    #contato{
        scroll-margin-top: 50px;
    }
    .inicio{
        padding: 10px 0 0 0 ;
    }
    .empresa{
        .empresa-container{
            padding: 100px 20px 100px 20px;
            .name-corporation{
                h1{
                    font-size: 30px;
                }
            }
            .image-info-corporation{
                img{
                    width: 100%;
                }
            }
        }
    }
    .valores{
        padding: 20px;
        .valores-container{
            display: flex;
            flex-direction: column;
            .content{
                padding: 20px;
            }
        }
    }
    .rodape{
        padding: 20px;
        .content{
            a{
                font-size: 12px;
                width: 200px;
            }
        }
    }
}