body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
body::-webkit-scrollbar-track{
    background: var(--black-color);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--yellow-color);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--black-color);  /* creates padding around scroll thumb */
  }
.hamburguer-container {
    display: flex;
    align-items: center;
    justify-content: end;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 20px;
    height: 30px;
    cursor: pointer;
}

.hamburger span {
    display: block;
    height: 4px;
    background: var(--yellow-color);
    border-radius: 2px;
    transition: all 0.3s ease;
    width: 30px;
}

.menu-mobile {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.747);
    width: 200px;
    display: flex;
    color: white;
    flex-direction: column;
    pointer-events: none;
    text-align: start;
    /* Impede interação enquanto o menu estiver fechado */
}

.menu-mobile.active {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
    /* Permite interação quando o menu estiver aberto */
    box-shadow: -5px 0 20px black;

}



.menu-mobile a {
    color: var(--branco);
    margin: 0 0 20px 20%;
    font-weight: bolder;
    transition: 0.3s;
    cursor: pointer;
}

.menu-mobile a:hover {
    font-size: 20px;
}

.menu-mobile a:last-child {
    border-bottom: none;
}

.menu-bar {
    width: 100%;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
}

.navbar-back {
    background: var(--black-color);
    width: 100%;

    .nav-container {
        display: grid;
        grid-template-columns: 25% 75%;
        margin: 0 50px 0 50px;
        padding: 10px 0 10px 0;

        .nav-logo-container {
            display: flex;
            justify-content: center;
        }
    }
}

/* Estilos da Galeria */
.gallery {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 20px auto;
    .images{
        display: flex;
    }
    .info-produto{
        width: 50%;
        padding: 20px;
        .name-produto{
            h1{
                text-decoration: underline var(--yellow-color);  
            }
        }
        .categoria-projeto{
            text-decoration: underline 1px 
            var(--black-color);
        }
        .descricao-projeto{
            p{
                margin: 10px 0 0 0;
                text-align: justify;
            }
        }
    }
}

.main-image{
    display: flex;
    justify-content: center;
}
.main-image img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin: 0 0 10px 0;
}

.main-image img:hover {
    transform: scale(1.02);
}

.thumbnails {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.thumbnails img {
    width: 100px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: border 0.3s, transform 0.3s;
    margin: 0 10px 0 0;
}

.thumbnails img:hover {
    border: 2px solid var(--yellow-color);
    transform: scale(1.1);
}

.thumbnails img.active {
    border: 2px solid var(--yellow-color);
}

/* Estilos do Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
}

.modal-content img {
    max-width: 100%;
    max-height: 80vh;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--yellow-color);
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    user-select: none;
}

.arrow.left {
    left: 20px;
}

.arrow.right {
    right: 20px;
}

.nav-header {
    padding: 50px 20px;

    .nav-header-container {
        display: flex;

        a {
            margin: 0 5px 0 0;
            transition: 0.5s;
        }

        a:hover {
            transform: scale(1.1);
        }

        p {
            color: gray;
        }
    }
}












.rodape-content {
    opacity: 0;
    transform: translateY(50px); /* Começa 50px abaixo */
    transition: opacity 1s ease, transform 1s ease;
}

.rodape-content.show {
    opacity: 1;
    transform: translateY(0); /* Volta para a posição original */
}



.rodape-content {
    opacity: 0;
    transform: translateY(50px); /* Começa 50px abaixo */
    transition: opacity 1s ease, transform 1s ease;
}

.rodape-content.show {
    opacity: 1;
    transform: translateY(0); /* Volta para a posição original */
}


@media(max-width:930px){
    .gallery{
        flex-direction: column;
        align-items: center;
        .images{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            .thumbnails{
                display: grid;
                grid-template-columns: 33% 33% 33%;
                justify-content: center;
                img{
                    
                    margin: 0;
                    
                }
            }
            
        }
        .info-produto{
            h1{
                text-align: center;
            }
            h2{
                text-align: center;
            }
        }
    }
}
@media(max-width:750px){
    .gallery{
        .info-produto{
            width: 80%;
        }
    }
}
@media(max-width:370px){
    .thumbnails img{
        width: 95%;
    }
}

