
form{
    background: var(--white-color);
}
.navbar {
    background: var(--black-color);
    position: fixed;
    width: 100%;
    box-shadow: 0 5px 100px var(--black-color);
    z-index: 1;
    backdrop-filter: blur(10px);

    .nav-container {
        display: grid;
        grid-template-columns: 25% 75%;
        margin: 0 50px 0 50px;
        padding: 10px 0 10px 0;

        .nav-logo-container {
            display: flex;
            justify-content: center;
        }

        .nav-button-container {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                margin: 0 25px 0 25px;
                font-weight: bolder;
                text-decoration: transparent;
                color: var(--white-color);
                transition: 0.5s;
                font-size: 20px;
            }

            a:hover {
                text-decoration: underline 2px solid var(--yellow-color);
                transform: scale(1.1);
            }
        }
    }
}

.hamburguer-container {
    display: flex;
    align-items: center;
    justify-content: end;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 20px;
    height: 30px;
    cursor: pointer;
}

.hamburger span {
    display: block;
    height: 4px;
    background: var(--yellow-color);
    border-radius: 2px;
    transition: all 0.3s ease;
    width: 30px;
}

.menu-mobile {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.747);
    width: 200px;
    display: flex;
    color: var(--white-color);
    flex-direction: column;
    pointer-events: none;
    text-align: start;
    /* Impede interação enquanto o menu estiver fechado */
}

.menu-mobile.active {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
    /* Permite interação quando o menu estiver aberto */
    box-shadow: -5px 0 20px var(--black-color);

}



.menu-mobile a {
    color: var(--white-color);
    margin: 0 0 20px 20%;
    font-weight: bolder;
    transition: 0.3s;
    cursor: pointer;
}

.menu-mobile a:hover {
    font-size: 20px;
}

.menu-mobile a:last-child {
    border-bottom: none;
}

.menu-bar {
    width: 100%;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
}

.navbar-back {
    background: var(--black-color);
    width: 100%;

    .nav-container {
        display: grid;
        grid-template-columns: 25% 75%;
        margin: 0 50px 0 50px;
        padding: 10px 0 10px 0;

        .nav-logo-container {
            display: flex;
            justify-content: center;
        }
    }
}

.nav-header {
    padding: 50px;

    .nav-header-container {
        display: flex;

        a {
            margin: 0 5px 0 0;
            transition: 0.5s;
        }

        a:hover {
            transform: scale(1.1);
            color: var(--yellow-color);
        }

        p {
            color: var(--gray-color);
        }
    }
}
.apresentacao-produtos{
    padding: 20px;
    .apresentacao-produtos-container{
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h1{
            text-decoration: underline  var(--yellow-color);
        }
        p{
            margin: 20px 0 0 0;
            font-size: 20px;
            text-align: center;
            width: 70%;
        }
        .barra-maior{
            margin-top: 30px;
            width: 90%;
            border-bottom: 2px solid var(--black-color);
        }

    }
}

.text-produto{
    padding: 10px;
    .text-produto-container{
        width: 100%;
        display: flex;
        justify-content: center;
        h2{
            text-decoration: underline var(--yellow-color);
        }
    }
}
#text-secundario{
    margin: 30px 0 0 0;
}
.center{
    display: flex;
    justify-content: center;
}
.area-produtos{
    padding: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
    .grid-produtos{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        justify-content: center;
        a{
            border-radius: 3px;
            transition: 0.5s;
            border: transparent;
            background: var(--white-color);
            margin: 5px;
            .container-produtos{
                margin: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .img-produtos{
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    img{
                        width: 90%;
                        border-radius: 5px ;
                    }
                }
                .nome-produto{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 0 0 5px 5px;
                    h2{
                        font-size: 15px;
                        margin: 10px 0 0 0;
                        color: var(--black-color);
                    }
                    p{
                        color: var(--gray-color);
                    }
                }
            }
        }
        a:hover{
            border: 1px solid var(--yellow-color);
            transform: scale(1.05);
        }
    }
}

#solda{
    background: white;
}


.rodape-content {
    opacity: 0;
    transform: translateY(50px); /* Começa 50px abaixo */
    transition: opacity 1s ease, transform 1s ease;
}

.rodape-content.show {
    opacity: 1;
    transform: translateY(0); /* Volta para a posição original */
}



.rodape {
    background: var(--yellow-black);
    padding: 50px;
    display: flex;
    justify-content: center;

    .rodape-container {
        padding: 10px;
        width: 100%;
        display: grid;
        grid-template-columns: 33% 33% 33%;

    }
    #image-rodape{
        width: 100%;
        align-items: center;
    }
    .rodape-content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .titles {
        background: var(--black-color);
        display: flex;
        justify-content: center;
        width: 90%;
        border-radius: 5px;
        padding: 5px;
        label {
            font-weight: bolder;
            font-size: 20px;
            color: var(--yellow-color);
        }
    }

    .content {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 20px 0 0 10px;

        ul {
            padding: 0 0 0 20px;

            li {
                transition: 0.5s;
                width: 90px;
                margin: 5px 0 0 0;
            }

            li:hover {
                transform: scale(1.05);
            }
        }

        #email {
            transform: none;
        }

        a {
            text-decoration: none;
            color: white;
            font-weight: bolder;
            font-size: 17px;
            margin: 5px 0 0 0;
            transition: 0.5s;
            width: 300px;

            i {
                margin: 0 5px 0 0;
            }
        }

        a:hover {
            transform: scale(1.05);
        }
    }
}

@media(max-width:930px){
    .apresentacao-produtos{
        .apresentacao-produtos-container{
            p{
                font-size: 16px;
                width: 90%;
            }
        }
    }
   
}

@media(max-width:750px){
    .apresentacao-produtos{
        .apresentacao-produtos-container{
            h1{
                text-align: center;
                font-size: 30px;
            }
        }
    }
    .area-produtos{
        .grid-produtos{
            grid-template-columns: 33% 33% 33%;
        }
    }
}

@media(max-width:550px){
    .apresentacao-produtos{
        margin: 20px 0 0 0;
        padding: 0;
        .apresentacao-produtos-container{
            padding: 0;
            h1{
                width: 95%;
                font-size: 25px;
            }
        }
    }
    .area-produtos{
        .grid-produtos{
            grid-template-columns: 50% 50%;
        }
    }
}

@media(max-width:375px){
    .area-produtos{
        padding: 0;
        .grid-produtos{
            padding: 0;
            a{
                margin: 10px;
                .container-produtos{
                    .img-produtos{
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
