@media (max-width:1100px) {
    #empresa {
        scroll-margin-top: 80px;
    }

    #some-products {
        scroll-margin-top: 80px;
    }

    #valores {
        scroll-margin-top: 80px;
    }

    .empresa {
        .empresa-container {
            display: flex;
            flex-direction: column;

            .descricao-container {
                .fundation-date {
                    width: 100%;
                }

                .name-corporation {
                    width: 100%;
                }

                .descrition-corporation {
                    width: 100%;
                }
            }

            .image-info-corporation {
                margin: 40px 0 0 0;
            }
        }
    }

    .valores {
        .valores-container {
            grid-template-columns: 50% 50%;
        }
    }

}

@media (max-width:1075px) {

    #empresa {
        scroll-margin-top: 80px;
    }

    #some-products {
        scroll-margin-top: 80px;
    }

    #valores {
        scroll-margin-top: 80px;
    }

    #contato {
        scroll-margin-top: 80px;
    }

    .navbar {
        .nav-container {
            .nav-button-container {
                a {
                    font-size: 15px;
                }
            }
        }
    }

    .rodape {
        .rodape-container {
            grid-template-columns: 50% 50%;

            .rodape-content {
                margin: 30px 0 0 0;
            }
        }
    }
}

@media(max-width: 930px) {
    .some-products {
        .slider {
            .slide {
                display: none;
            }

            .slide-cell {
                display: flex;
            }
        }
    }

    .navbar-back {
        .nav-container {
            .nav-logo-container {
                img {
                    width: 150%;
                }
            }

        }
    }

    .navbar {

        .nav-container {
            .nav-logo-container {
                img {
                    width: 150%;
                }
            }

            .nav-button-container {
                display: none;
            }
        }

        .hamburger {
            display: flex;

        }
    }

    .empresa {
        .empresa-container {
            .name-corporation {
                h1 {
                    font-size: 30px;
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width:750px) {
    .inicio {
        .slide {
            .chamada-container {
                .chamada-button {
                    transform: scale(70%);
                }

                .chamada-button:hover {
                    transform: scale(75%);
                }
            }
        }

        .prev,
        .next {
            display: none;
        }
    }

    .rodape {
        .rodape-container {
            grid-template-columns: 100%;
        }
    }
}

@media(max-width:550px) {
    .inicio {
        padding: 0;

        .slide {
            .chamada-container {
                .chamada-button {
                    transform: scale(50%);
                }

                .chamada-button:hover {
                    transform: scale(55%);
                }
            }
        }
    }

    #empresa {
        scroll-margin-top: 50px;
    }

    #some-products {
        scroll-margin-top: 50px;
    }

    #valores {
        scroll-margin-top: 50px;
    }

    #contato {
        scroll-margin-top: 50px;
    }



    .empresa {
        .empresa-container {
            padding: 100px 20px 100px 20px;

            .name-corporation {
                h1 {
                    font-size: 25px;
                }
            }

            .image-info-corporation {
                img {
                    width: 100%;
                }
            }
        }
    }

    .some-products {
     .slider{
        width: 100%;
     }
        .slide-cell {
            a {
                
                .label {

                    font-size: 10px;

                }
            }
        }
    }

    .valores {
        padding: 20px;

        .valores-container {
            display: flex;
            flex-direction: column;

            .content {
                padding: 20px;
            }
        }
    }

    .rodape {
        padding: 20px;

        .content {
            a {
                font-size: 12px;
                width: 200px;
            }
        }
    }
}