@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


*{
    font-family: arial;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    margin: 0;
}
body{
    a{
        cursor: pointer;
    }
}
#ativado{
    text-decoration: underline 2px solid var(--yellow-color);
    transform: scale(1.1);
}



:root{
    --black-color:#000000;
    --yellow-color:#ffd90a;
    --yellow-black:#917b00;
    --white-color: #f0f0f0;
    --white-opaque:#7c7c7c;
    --gray-color:#9e9fa1;
}