@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


*{
    font-family: arial;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    margin: 0;
}
body{
    a{
        cursor: pointer;
    }
    #email {
        transform: none;
        cursor: default;
    }
}
.whats-icon {
    position: fixed;
    bottom: 20px; /* Distância do fundo da tela */
    right: 20px; /* Distância da direita da tela */
    z-index: 1000; /* Garante que o ícone fique acima de outros elementos */
}

.icon-whats {
    background-color: #25D366; /* Cor de fundo do WhatsApp */
    border-radius: 50%; /* Deixa o ícone redondo */
    width: 50px; /* Largura do ícone */
    height: 50px; /* Altura do ícone */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destacar o ícone */
    transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
}

.icon-whats:hover {
    background-color: #128C7E; /* Cor de fundo ao passar o mouse */
}

.icon-whats i {
    color: white; /* Cor do ícone */
    font-size: 24px; /* Tamanho do ícone */
}
#ativado{
    text-decoration: underline 2px solid var(--yellow-color);
    transform: scale(1.1);
}



:root{
    --black-color:#000000;
    --yellow-color:#ffd90a;
    --yellow-black:#917b00;
    --white-color: #f0f0f0;
    --white-opaque:#7c7c7c;
    --gray-color:#9e9fa1;
}